<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @profile.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @profile.lastname %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @profile.sex %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @profile.birthdate %>
</p>

<p>
  <strong>Married:</strong>
  <%= @profile.married %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @profile.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @profile.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>
<%= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
